.match {
	border: solid 1px #f00;
	padding: 0 0.2em;
	background-color: #fcc;
}

.error {
	color: #f00;
	font-weight: bold;
	font-size: 0.8em;
	text-decoration: italic;
}

pre {
	border: solid 1px #000;
	padding: 0.5em;
}
